<!DOCTYPE html>
<html>
  <head>
    <title>Photo Album</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <main id="main-content">
      <div class="my-5 d-flex justify-content-center">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
